/******************************* 1. MAIN *******************************/
/******************************* 2. BANNER *****************************/
/******************************* 3. TOP-LINE ***************************/
/******************************* 4. QUESTION ***************************/
/******************************* 5. MODAL ******************************/


/**************
		1. MAIN
 **************/

html,
body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}




/******************
		2. BANNER
 ******************/
.banner {
	padding: 170px 0 0;
	text-align: center;
	transition: all 1s ease-in-out;
}

.banner--questions { padding: 150px 0 0; }

.banner--hide::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.banner::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img/thunder__banner.jpg) 0 0 no-repeat;
	background-size: cover;
}

	.banner__logo {
		position: relative;
		margin: 0 0 49px;
		width: 80px;
		transition: margin 1s ease-in-out;
	}

	.banner__logo--questions { margin: 0 0 30px; }

	.banner__title {
		position: relative;
		margin: 0 0 19px;
		font: 400 19px "Micra", sans-serif;
		text-transform: uppercase;
		color: #fff;
	}




/******************
		3. TOP-LINE
 ******************/
.top-line {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 105px;
	background: #333;
}

	.top-line__logo {
		float: left;
		display: inline-block;
		margin: 21px 0 0 0;
	}

	.top-line__menu {
		display: none;
		float: right;
		margin: 42px 0 0;
	}

		.top-line__menu li { display: inline-block; }

			.top-line__menu-link {
				position: relative;
				margin: 0 0 0 37px;
				font: 400 14px "Micra", sans-serif;
				text-decoration: none;
				color: #fff;
				transition: color 0.25s ease-in-out;
			}

			.top-line__menu-link:hover { color: #f1c40f; }
			.top-line__menu-link--active { color: #f1c40f; }

			.top-line__menu-link--active::after {
				content: "";
				position: absolute;
				bottom: -47px;
				left: 0;
				right: 0;
				height: 5px;
				background: #f1c40f;
			}




/*******************
		4. QUESTION
 *******************/
.question {
	position: relative;
	width: 100%;
	opacity: 1;
	transition: all 1s ease-in-out;
}

.question--hide {
	margin: -25px 0 0;
	opacity: 0;
}

	.question__name {
		margin: 0 0 45px;
		font: 400 30px "AgencyFB-Regular", sans-serif;
		text-transform: uppercase;
		color: #fff;
	}

	.question__button {
		position: relative;
		display: inline-block;
		width: 260px;
		margin: 0 auto 20px;
		padding: 10px 15px;
		font: 400 14px "Micra", sans-serif;
		text-decoration: none;
		text-transform: uppercase;
		color: #f1c40f;
		border: 3px solid #f1c40f;
		border-radius: 40px;
		vertical-align: middle;
		transition: all 0.25s ease-in;
	}

	.question__button:hover {
		color: #333;
		background: #f1c40f;
	}


		.question__button--disabled,
		.question__button--disabled:hover {
			border: 3px solid #333;
			color: #333;
			background: none;
		}

		.question__button--hide {
			display: none;
		}

	.question__design {
		display: none;
		margin: -30px 0 40px;
	}

		.question__design-item {
			position: relative;
			display: inline-block;
			width: 110px;
			height: 150px;
			margin: 0 30px;
			border-radius: 10px;
			overflow: hidden;
		}

		.question__design-item::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(51, 51, 51, 0.5);
		}

		.question__design-item:hover::after,
		.question__design-item--select::after {
			content: "";
			background: none;
		}

			.question__design-zoom {
				position: absolute;
				bottom: -40px;
				left: 0;
				right: 0;
				height: 40px;
				background: #f1c40f;
				transition: bottom 0.25s ease-in-out;
				z-index: 1;
			}

			.question__design-item:hover .question__design-zoom {
				bottom: 0;
			}

			.question__design-zoom::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 5px;
				height: 5px;
				margin: -10px 0 0 -10px;
				border: 3px solid #333;
				border-radius: 50%;
			}

			.question__design-zoom::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 12px;
				height: 3px;
				margin: 0px 0 0 -4px;
				background: #333;
				transform: rotate(45deg);
			}

			.question__design-item img { width: 100%; }

			.question__design-item input { display: none; }

			.question__design-item input + label {
				content: "";
				position: absolute;
				top: 10px;
				right: 10px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				border: 3px solid #f1c40f;
				overflow: hidden;
				z-index: 1;
			}

			.question__design-item input:checked + label {
				content: "";
				background: #f1c40f;
			}



			.question__design-item:hover input + label::before {
				content: "";
				top: 4px;
			}






	.question__choise,
	.question__seo,
	.question__type {
		display: none;
		margin: -30px 0 30px;
	}

		.question__choise label,
		.question__seo label,
		.question__type label {
			display: block;
			width: 300px;
			margin: 0 auto 10px;
			font: 400 14px "Micra", sans-serif;
			text-align: left;
			text-transform: uppercase;
			color: #fff;
		}

		.question__seo label {
			width: 150px;
		}

		.question__type label {
			width: 240px;
		}

		.question__choise input,
		.question__seo input,
		.question__type input { vertical-align: middle; }

	.question__contact {
		display: none;
		width: 300px;
		margin: -30px auto 30px;
	}

		.question__contact input {
			width: 100%;
			margin: 0 0 20px;
			padding: 10px 10px;
			font-size: 12px;
			border-radius: 5px;
			border: 3px solid #333;
			outline: none;
			box-sizing: border-box;
		}

		.question__contact input:focus {
			border: 3px solid #f1c40f;
		}




/****************
		5. MODAL
 ****************/
.modal {
	display: none;
	position: absolute;
	top: 10%;
	left: 50%;
	width: 570px;
	height: 790px;
	margin: 0 0 0 -285px;
	z-index: 2;
}




.hide-images {
	display: none;
}

.calendar-modal {
	width: 350px;
	height: 100px;
	background: #333;
	border-radius: 10px;
	color: #fff;
	font: 400 19px "Micra", sans-serif;
	padding: 75px 0 0 0px;
	margin: -1000% 0 0 -1000%;
	text-align: center;
	z-index: 0;
}

.calendar-modal input {
	vertical-align: middle;
}

#fancybox-content .calendar-modal {
	margin: 0;
}
