/************************
MAIN
HEADER
QUESTIONS

FOOTER
************************/


/* MAIN */
body {
	background: #333;
}
.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}
@media (max-width: 767px) {
	.container { max-width: none; }
}
@media (min-width: 768px) {
	.container { max-width: 748px; }
}
@media (min-width: 1200px) {
	body { background: url(../img/thunder__body.jpg) center 0 no-repeat; }
	.container { max-width: 1004px; }
}
/* MAIN */


/* HEADER */
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 74px;
	background: #333;
}
.header__logo-link,
.header__logo-img {
	display: inline-block;
}
.header__menu-icon {
	position: absolute;
	top: 10px;
	right: 15px;
	height: 30px;
	width: 30px;
	border-bottom: 3px solid #f1c40f;
}
.header__menu-icon:active,
.header__menu-icon:focus,
.header__menu-icon:hover {
	outline: 0 !important;
	outline-offset: 0 !important;
}
.header__menu-icon::after,
.header__menu-icon::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	border-bottom: 3px solid #f1c40f;
}
.header__menu-icon::before {
	content: "";
	top: 20px;
}
.header__menu-icon::after {
	content: "";
	top: 10px;
}
.header__menu-items {
	margin: 0;
	padding: 0;
}
.header__menu-item {
	text-align: center;
	list-style: none;
}
.header__menu-link {
	font: 400 14px/21px "Micra", sans-serif;
	text-decoration: none;
	color: #fff;
}
.header__menu-link--active {
	color: #f1c40f;
}
@media (max-width: 767px) {
	.header__logo-link { margin: 10px 0 0; }
	.header__logo-img { width: 230px; }
	.header__menu-items { margin: -5px 0 0; box-shadow: 0 3px 1px -1px #222; transition: all 0.5s ease-in-out; opacity: 0; }
	.header__menu-items--active { margin: 5px 0 0; opacity: 1; }
	.header__menu-item { display: block; background: #333; height: 20px; padding: 10px 0 10px; }
}
@media (min-width: 768px) {
	.header__menu-icon { display: none; }
	.header__logo-img { margin: 10px 0 0; }
	.header__menu { float: right; }
	.header__menu-item { display: inline-block; }
	.header__menu-link { position: relative; display: inline-block; margin: 0 0 0 35px; padding: 30px 0; }
	.header__menu-link--active::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 5px solid #f1c40f;
	}
}
@media (min-width: 1200px) {
	.header { height: 85px; }
	.header__menu-link { margin: 0 0 0 50px; padding: 30px 0 32px; }
}
/* HEADER */


/* QUESTIONS */
.questions {
	margin: 125px 0 80px;
	text-align: center;
}
.questions__logo {
	width: 70px;
	margin: 0 auto 25px;
}
.questions__logo img {
	max-width: 100%;
}
.questions__title {
	margin: 0 0 25px;
	font: 400 14px "Micra", sans-serif;
	text-transform: uppercase;
	color: #fff;
}
.questions__item {}
.questions__item-name {
	margin: 0 0 35px;
	font: 400 20px "Humnst777", sans-serif;
	color: #fff;
}
.question__item-button {
	display: inline-block;
	margin: 0 0 10px;
	padding: 15px 30px;
	font: 400 12px "Humnst777", sans-serif;
	text-decoration: none;
	color: #333;
	background: #f1c40f;
	border-radius: 25px;
}
/* QUESTIONS */


/* FOOTER */
.footer {
	position: absolute;
	left: 0;
	right: 0;
	height: 45px;
	padding: 5px 0;
	text-align: center;
	background: #f1c40f;
}
.footer__mail {
	display: inline-block;
	width: 200px;
	margin: 0 auto 5px;
	font: 400 14px "Humnst777", sans-serif;
	text-decoration: none;
	color: #333;
}
.footer__copyright {
	display: block;
	right: 0;
	font: 400 16px "Humnst777", sans-serif;
	color: #333;
}
@media (min-width: 768px) {
	.footer { height: 20px; }
	.footer__copyright { position: absolute; top: 5px; left: auto; right: 10px; }
}
/* FOOTER */
