/* MAIN STYLE */
/* TOP-LINE */
/* BANNER */
/* QUESTION */
/* HIDE-IMAGE */
/* CALENDAR */




/* MAIN STYLE */
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 10px;
}




/* TOP-LINE */
.top-line {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: #333;
	z-index: 1;
}

.top-line__logo {
	float: left;
	display: inline-block;
	margin: 21px 0 16px;
}

.top-line__menu {
	float: right;
	margin: 42px 0 0;
}


.top-line__menu-item {
	display: inline-block;
}

.top-line__menu-link {
	position: relative;
	margin: 0 0 0 37px;
	font: 400 14px "Micra", sans-serif;
	text-decoration: none;
	color: #fff;
	transition: color 0.25s ease-in-out;
}

.top-line__menu-link--active {
	color: #f1c40f;
}

.top-line__menu-link--active::after {
	content: "";
	position: absolute;
	bottom: -47px;
	left: 0;
	right: 0;
	height: 5px;
	background: #f1c40f;
}




/* BANNER */
.banner {
	position: absolute;
	top: 105px;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img/thunder__banner.jpg) center 0 no-repeat;
	z-index: 0;
}




/* QUESTION */
.question {
	position: relative;
	margin: 105px 0 0;
	text-align: center;
	z-index: 1;
}

.question__logo {
	margin: 150px 0 100px;
	transition: margin 1s ease-in-out;
}

.question__logo--top {
	margin: 109px 0 49px;
}

.question__title {
	position: relative;
	margin: 0 0 39px;
	font: 400 19px "Micra", sans-serif;
	text-transform: uppercase;
	color: #fff;
}

.question__item {
	transition: all 1s ease-in-out
}

.question__item--top {
	margin: -25px 0 0;
	opacity: 0;
}

.question__item-name {
	margin: 0 0 85px;
	font: 400 55px "AgencyFB-Regular", sans-serif;
	text-transform: uppercase;
	color: #fff;
}

.question__item-button {
	position: relative;
	display: inline-block;
	width: 310px;
	margin: 0;
	padding: 20px 45px;
	font: 400 19px "Micra", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #f1c40f;
	border: 3px solid #f1c40f;
	border-radius: 40px;
	vertical-align: middle;
	transition: all 0.25s ease-in;
}

.question__item-button--second {
	margin: 0 0 0 80px;
}

.question__item-button:hover {
	color: #333;
	background: #f1c40f;
}

.question__item-button--disabled,
.question__item-button--disabled:hover {
	color: #886f0b;
	background: none;
	border-color: #886f0b;
	cursor: default;
}

.question__design {
	display: none;
	margin: -50px 0 50px;
}

.question__design-item {
	position: relative;
	display: inline-block;
	width: 180px;
	height: 240px;
	margin: 0 30px;
	border-radius: 10px;
	overflow: hidden;
}

.question__design-item::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(51, 51, 51, 0.5);
}

.question__design-zoom {
	position: absolute;
	bottom: -40px;
	left: 0;
	right: 0;
	height: 40px;
	background: #f1c40f;
	transition: bottom 0.25s ease-in-out;
	z-index: 1;
}

.question__design-item:hover::after,
.question__design-item--select::after {
	content: "";
	background: none;
}

.question__design-item:hover .question__design-zoom {
	bottom: 0;
}

.question__design-zoom::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	margin: -15px 0 0 -15px;
	border: 3px solid #333;
	border-radius: 50%;
}

.question__design-zoom::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 3px;
	margin: 3px 0 0 0px;
	background: #333;
	transform: rotate(30deg);
}

.question__design-item input {
	display: none;
}

.question__design-item input + label {
	content: "";
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid #f1c40f;
	overflow: hidden;
	z-index: 1;
}

.question__design-item input:checked + label {
	content: "";
	background: #f1c40f;
}

.question__design-item input + label::before {
	content: "";
	position: absolute;
	top: -25px;
	right: 10px;
	width: 5px;
	height: 15px;
	border-bottom: 3px solid #f1c40f;
	border-right: 3px solid #f1c40f;
	transition: top 0.10s ease-in;
	transform: rotate(40deg);
}
.question__design-item:hover input + label::before {
	content: "";
	top: 4px;
}

.question__design-item input:checked + label::before {
	content: "";
	position: absolute;
	top: 1px;
	right: 10px;
	width: 20px;
	height: 15px;
	border-bottom: 3px solid #333;
	border-right: none;
	transition: all 0.10s ease-in;
	transform: rotate(-45deg);
}

.question__design-item input:checked + label::after {
	content: "";
	position: absolute;
	top: 1px;
	right: 0px;
	width: 20px;
	height: 15px;
	border-bottom: 3px solid #333;
	transition: top 0.10s ease-in;
	transform: rotate(45deg);
}

.question__design-item img {
	width: 100%;
}

.question__structure,
.question__seo,
.question__type {
	display: none;
	margin: -30px 0 60px;
}

.question__structure label,
.question__seo label,
.question__type label {
	display: block;
	width: 410px;
	margin: 0 auto 20px;
	font: 400 19px "Micra", sans-serif;
	text-align: left;
	text-transform: uppercase;
	color: #fff;
}

.question__structure input,
.question__seo input,
.question__type input {
	vertical-align: middle;
}

.question__type label {
	width: 310px;
}

.question__seo label {
	width: 190px;
}

.question__contact {
	display: none;
	width: 300px;
	margin: -30px auto 50px;
}

.question__contact input {
	width: 100%;
	margin: 0 0 20px;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 3px solid #333;
	outline: none;
	box-sizing: border-box;
}

.question__contact input:focus {
	border: 3px solid #f1c40f;
}

.question__comment {
	display: none;
	width: 700px;
	margin: -30px auto 50px;
}

.question__comment textarea {
	width: 100%;
	padding: 10px 10px;
	font-size: 16px;
	resize: none;
	border-radius: 5px;
	border: 3px solid #333;
	outline: none;
	box-sizing: border-box;
	transition: all 1s ease-in-out
}

.question__comment textarea:focus {
	border: 3px solid #f1c40f;
}

.question__comment textarea.hide,
.question__item-button--hide {
	opacity: 0;
}

.question__back {
	position: relative;
	display: none;
	margin: 50px 0 0 0;
	padding: 25px 50px 25px 70px;
	color: #f1c40f;
	font: 400 19px "Micra", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.25s ease-in;
}

.question__back:hover {
	color: #333;
	background: #f1c40f;
}

.question__back::before,
.question__back::after {
	content: "";
	position: absolute;
	left: 35px;
	width: 20px;
	height: 20px;
	border-bottom: 3px solid #f1c40f;
	border-right: 3px solid #f1c40f;
	transform: rotate(135deg);
}

.question__back::after {
	content: "";
	top: 30px;
	left: 45px;
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #f1c40f;
	border-right: 1px solid #f1c40f;
}

.question__back:hover::before,
.question__back:hover::after {
	border-color: #333;
}




/* HIDE-IMAGE */
.hide-image {
	display: none;
}




/* CALENDAR */
.calendar {
	display: none;
}
