.top-line {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 105px;
	background: #333;
}


	.top-line__logo {
		float: left;
		display: inline-block;
		margin: 21px 0 0 0;
	}


	.top-line__menu {
		float: right;
		margin: 42px 0 0;
	}

		.top-line__menu li {
			display: inline-block;
		}

			.top-line__menu-link {
				position: relative;
				margin: 0 0 0 37px;
				font: 400 14px "Micra", sans-serif;
				text-decoration: none;
				color: #fff;
				transition: color 0.25s ease-in-out;
			}

			.top-line__menu-link:hover {
				color: #f1c40f;
			}

			.top-line__menu-link--active {
				color: #f1c40f;
			}

			.top-line__menu-link--active::after {
				content: "";
				position: absolute;
				bottom: -47px;
				left: 0;
				right: 0;
				height: 5px;
				background: #f1c40f;
			}
